<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/clear.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="../public/stylesheets/emojify.min.css">
</head>
<style>
.card .card-content .card-title {
    line-height: 30px;
}

.card .card-title {
    font-size: 15px;
    font-weight: 300;
}
</style>

<body>
    <main>
        <div class="container">
            <ul id="messages-window" class="row">
                <li class="animated bounceInLeft tada col s6 offset-s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="tiny material-icons right">more_vert</i><span class='right'>12:10 PM</span></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <i class="tiny material-icons right">done</i>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">YO Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6 offset-s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6 offset-s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6 offset-s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="animated bounceInLeft tada col s6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title activator black-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <!-- <p><a href="#">This is a link</a></p> -->
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6 offset-s6">
                    <span class='col s10 message_u right-align'>Alaf</span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col offset-s4 s8 message_t  right-align'>RIGHT Hello my name is alaf</span>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6">
                    <span class='col message_u'><a href="">Alaf</a></span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col s12 message_t '>Hello my name is alaf</span>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6 offset-s6">
                    <span class='col s10 message_u right-align'><a href="">Alaf</a></span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col offset-s4 s8 message_t  right-align'>RIGHT Hello my name is alaf</span>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6">
                    <span class='col message_u'><a href="">Alaf</a></span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col s12 message_t '>Hello my name is alaf</span>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6 offset-s6">
                    <span class='col s10 right-align message_u'>Alaf</span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col offset-s4 s8 message_t  right-align'>RIGHT Hello my name is alaf</span>
                </li>
                <li class="row message_li animated bounceInLeft tada col s6">
                    <span class='col message_u'>Alaf</span>
                    <span class='col s2 message_ts'>12:10 PM</span>
                    <span class='col s12 message_t '>Hello my name is alaf</span>
                </li>
            </ul>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col offset-s1 s8 input-feild">
                        <input id="m" autofocus="true" autocomplete="off" class="messagebox">
                    </div>
                    <button class="col s2 btn-large waves-effect waves-light teal lighten-1 messagebox">
                        Send</button>
                </div>
            </form>
        </div>
    </footer>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>What sould we call you?</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12"><i class="material-icons prefix">account_circle</i>
                        <input id="username" value="Iweisi Chrimtin" type="text" class="validate">
                        <label for="username" class="active">First Name</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"><a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">okay.</a>
        </div>
    </div>
    <div id="modal2" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
    </div>
</body>
<script src='../public/javascripts/jquery.min.js'></script>
<script src="../public/javascripts/materialize.min.js"></script>
<script>
(function(argument) {
    $('.button').mousedown(function(e) {
        var target = e.target;
        var rect = target.getBoundingClientRect();
        var ripple = target.querySelector('.ripple');
        $(ripple).remove();
        ripple = document.createElement('span');
        ripple.className = 'ripple';
        ripple.style.height = ripple.style.width = Math.max(rect.width, rect.height) + 'px';
        target.appendChild(ripple);
        var top = e.pageY - rect.top - ripple.offsetHeight / 2 - document.body.scrollTop;
        var left = e.pageX - rect.left - ripple.offsetWidth / 2 - document.body.scrollLeft;
        ripple.style.top = top + 'px';
        ripple.style.left = left + 'px';
        return false;
    });
})();
</script>
<script>
var _tmplCache = {}
this.parseTemplate = function(str, data) {
    /// <summary>
    /// Client side template parser that uses &lt;#= #&gt; and &lt;# code #&gt; expressions.
    /// and # # code blocks for template expansion.
    /// NOTE: chokes on single quotes in the document in some situations
    ///       use &amp;rsquo; for literals in text and avoid any single quote
    ///       attribute delimiters.
    /// </summary>
    /// <param name="str" type="string">The text of the template to expand</param>
    /// <param name="data" type="var">
    /// Any data that is to be merged. Pass an object and
    /// that object's properties are visible as variables.
    /// </param>
    /// <returns type="string" />
    var err = "";
    try {
        var func = _tmplCache[str];
        if (!func) {
            var strFunc =
                "var p=[],print=function(){p.push.apply(p,arguments);};" +
                "with(obj){p.push('" +
                //                        str
                //                  .replace(/[\r\t\n]/g, " ")
                //                  .split("<#").join("\t")
                //                  .replace(/((^|#>)[^\t]*)'/g, "$1\r")
                //                  .replace(/\t=(.*?)#>/g, "',$1,'")
                //                  .split("\t").join("');")
                //                  .split("#>").join("p.push('")
                //                  .split("\r").join("\\'") + "');}return p.join('');";

                str.replace(/[\r\t\n]/g, " ")
                .replace(/'(?=[^#]*#>)/g, "\t")
                .split("'").join("\\'")
                .split("\t").join("'")
                .replace(/<#=(.+?)#>/g, "',$1,'")
                .split("<#").join("');")
                .split("#>").join("p.push('") + "');}return p.join('');";

            //alert(strFunc);
            func = new Function("obj", strFunc);
            _tmplCache[str] = func;
        }
        return func(data);
    } catch (e) {
        err = e.message;
    }
    return "< # ERROR: " + err.htmlEncode() + " # >";
}
</script>
<script id="ItemTemplate" type="text/html">
    <li class="animated bounceInLeft tada col s6 offset-s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text text-darken-4"><#= username #><span class='right'><#= time #></span></span>
                <p><#= message #></p>
                <i id="done" class="tiny material-icons right hide">done</i>
            </div>
        </div>
    </li>
</script>
<script>
    var message_window = document.getElementById('messages-window');
    var li = parseTemplate($("#ItemTemplate").html(),{ username: "Alaf", time:"12:00 AM",message:"Oh hello" });
    var t= $(li);
    console.log(t);
    message_window.appendChild(t[0]);


</script>
</html>
<!-- made by Alaf azam khan -->
