extends layout


block content
  main
    div(class='container')
      ul(id="messages-window",class="row")

  footer(class='page-footer')
    div(class='container')
      form(action="",class="")
        div(class='row')
          div(class='col offset-s1 s8 input-feild')
            input(id="m"  autofocus="true"  autocomplete="off",class='messagebox')

          button(class="col s2 btn-large waves-effect waves-light teal lighten-1 messagebox")
           |Send

  div(id="modal1", class="modal")
    div(class="modal-content")
      h4#question
       |What sould we call you?
      form(class="col s12")
        div(class="row")
          div(class="input-field col s12")
            i(class="material-icons prefix")
              |account_circle
            input(id="username", value= '#{name}', type="text", class="validate")
            label(class="active" for="username")
              |First Name
    div(class="modal-footer")
      a(href="#!", class=" modal-action modal-close waves-effect waves-green btn-flat")
        |okay.



block footer
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/classie.js')
  script(src='/javascripts/materialize.min.js')
  script(src='/javascripts/clientConnection.js')
  script(src='/javascripts/emojify.min.js')
  script(src='/javascripts/templateParser.js')
  script(type="text/html",id='messageTemplate')
    li(class="animated bounceInLeft tada col s6 offset-s6")
      div(class="card")
          div(class="card-content")
              span(class="card-title black-text text-darken-4")
                <#= username #>
                span(class='right',id='time')
                  <#= time #>
              p
                <#= message #>
              i(id="done",class="tiny material-icons right hide")
                |done
