<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/clear.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
</head>

<body>
    <ul id="messages-window">
        <li class="message_li animated bounceInLeft tada right">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200 right'>Hello my name is alaf</span>
        </li>
        <li class="message_li animated bounceInLeft tada">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200'>Hello my name is alaf</span>
        </li>
        <li class="message_li animated bounceInLeft tada right">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200 right'>Hello my name is alaf</span>
        </li>
        <li class="message_li animated bounceInLeft tada">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200'>Hello my name is alaf</span>
        </li>
        <li class="message_li animated bounceInLeft tada right">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200 right'>Hello my name is alaf</span>
        </li>
        <li class="message_li animated bounceInLeft tada">
            <span class='messages message_u'>Alaf</span>
            <span class='messages message_ts'>12:10 PM</span>
            <span class='messages message_t width-200'>Hello my name is alaf</span>
        </li>
    </ul>
    <form action="">
        <input id="m" autocomplete="off" />
        <button class="btn btn-5 btn-5b  icon-send">Send</button>
    </form>
</body>

</html>
<!-- made by Alaf azam khan -->
