extends layout


block content
  div(class="container")
    h1(class="header center teal-text text-lighten-2")
      |Easy Chat :_ 

    div(class="row center")
      h5(class="header col s12 light")
        |A modern chatting app based on NodeJs and SocketIo
    div(class="row center")
      a(href="#", id="download-button", class="btn-large waves-effect waves-light teal lighten-1")
       |Get Started  #{name}

block footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/javascripts/classie.js')
  script(src='/javascripts/clientConnection.js')
  script(src='https://cdn.rawgit.com/wavded/humane-js/master/humane.min.js')
  script(src='/javascripts/button.js')
