extends layout

block head_block
  title
   |Easy Chat

block content
  div(class="container")
    h1(class="header center teal-text text-lighten-2")
      |Easy Chat :_

    div(class="row center")
      h5(class="header col s12 light")
        |A modern chatting app based on NodeJs and SocketIo
    div(class="row center")
      a(href="/chatroom", class="btn-large waves-effect waves-light")
        |Get Started
    div(class="row center")
      a(href="/create_room", class="btn-large waves-effect waves-light")
        |Create a New Room
    div(class="row center")
      div(class="collection with-header col offset-m3 m6 s12")
        div(class="collection-header center")
          h4
            |Already Talking
        a(href='/chatroom' class="collection-item")
          |Common Room
        each val in availableRooms
          a(href='/chatroom/'+val class="collection-item")=val

block footer
  script(src='/javascripts/socket.io.js')
  script(src='/javacripts/jquery.min.js')
  script(src='/javascripts/materialize.min.js')
