extends layout

block head_block
  title
   |Easy Chat

block content
  div(class="container")
    h1(class="header center teal-text text-lighten-2")
      |Easy Chat :_ 

    div(class="row center")
      h5(class="header col s12 light")
        |A modern chatting app based on NodeJs and SocketIo
    div(class="row center")
      a(href="/chatroom", class="btn-large waves-effect waves-light")
        |Get Started

block footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
          