doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")

    link(rel='stylesheet', href='/stylesheets/clear.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/daneden/animate.css/master/animate.min.css')
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/Ranks/emojify.js/master/dist/css/basic/emojify.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css")

  body
    block content
  block footer