doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/daneden/animate.css/master/animate.min.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/wavded/humane-js/master/themes/libnotify.css')

  body
    block content
  block footer