doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")

    link(rel='stylesheet', href='/stylesheets/clear.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/materialize.min.css")
    link(rel="stylesheet" href="/stylesheets/emojify.min.css")

    block head_block


  body
    block content
  block footer