doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
  body
    block content
    